version: "{build}"
skip_tags: true
clone_folder: c:\gopath\src\github.com\ns3777k\go-shodan
clone_depth: 1

cache:
  - '%LocalAppData%\go-build'

environment:
  GOPATH: c:\gopath
  GOVERSION: 1.10
  GOBIN: c:\gopath\bin
  GO111MODULE: on

build: false
deploy: false

install:
  - set PATH=%GOPATH%\bin;C:\gopath\bin;%PATH%
  - go version
  - go env
  - go get

test_script:
  - go test -v ./shodan
